<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>

<header th:replace="template :: header">
</header>

<main>
  <nav class="nav">
    <ul class="nav__list container">
      <li class="nav__item">
        <a href="all-lots.html">Доски и лыжи</a>
      </li>
      <li class="nav__item">
        <a href="all-lots.html">Крепления</a>
      </li>
      <li class="nav__item">
        <a href="all-lots.html">Ботинки</a>
      </li>
      <li class="nav__item">
        <a href="all-lots.html">Одежда</a>
      </li>
      <li class="nav__item">
        <a href="all-lots.html">Инструменты</a>
      </li>
      <li class="nav__item">
        <a href="all-lots.html">Разное</a>
      </li>
    </ul>
  </nav>
  <form class="form container" th:classappend="${param.error!=null ? 'form--invalid' : ''}" th:action="@{/login}" method="post"> <!-- form--invalid -->
    <h2>Вход</h2>
    <div class="form__item" th:classappend="${param.error!=null ?'form__item--invalid' : ''}"> <!-- form__item--invalid -->
      <label for="email">E-mail*</label>
      <input id="email" type="text" name="username" placeholder="Введите e-mail" required>
    </div>
    <div class="form__item form__item--last" th:classappend="${param.error!=null ? 'form__item--invalid' : ''}">
      <label for="password">Пароль*</label>
      <input id="password" type="password" name="password" placeholder="Введите пароль" required>
      <span class="form__error">Неверный email или пароль</span>
    </div>
    <button type="submit" class="button">Войти</button>
  </form>
</main>

<footer th:replace="template :: footer">
</footer>

</body>
</html>
